openspell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xsd_html.xsl"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:spell="http://oss.dbc.dk/ns/openspell" targetNamespace="http://oss.dbc.dk/ns/openspell" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="eng">Openspell Service</xs:documentation>
		<xs:documentation xml:lang="eng">This XML Schema describes the data and structure of data of the Opensearch spelling service.</xs:documentation>
	</xs:annotation>
	<xs:element name="spellRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="spell:word"/>
				<xs:element ref="spell:number" minOccurs="0"/>
				<xs:element ref="spell:language" minOccurs="0"/>
				<xs:element ref="spell:filter" minOccurs="0"/>
				<xs:element name="outputType" type="spell:output" minOccurs="0"/>
				<xs:element ref="spell:callback" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="spellResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="spell:term" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="spell:error" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="term">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="spell:suggestion"/>
				<xs:element ref="spell:weight"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="filter" type="xs:string"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="number" type="xs:integer"/>
	<xs:element name="suggestion" type="xs:string"/>
	<xs:element name="weight" type="xs:string"/>
	<xs:element name="word" type="xs:string"/>
	<xs:element name="error" type="xs:string"/>
	<xs:element name="callback" type="xs:string"/>

	<xs:simpleType name="output">
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="XML"/>
	    <xs:enumeration value="JSON"/>
	  </xs:restriction>
	</xs:simpleType>
	  
</xs:schema>
